/*/pkg/
/*/src/
/*/*.pkg.tar.xz
/*/*.src.tar.gz

/libkml/libkml-1.2.0.tar.gz
/muse-streaming/MuSE-0.9.2.tar.gz
/penumbra-overture-ep1-demo/PenumbraOvertureDemo-2553.sh
/pidgin-zag/pidgin-2.10.6.tar.bz2
/pidgin-zag/pidgin-ticket-10593.patch
/pyqwt/PyQwt-5.2.0.tar.gz
/pyqwt/qplt.py-r1.21.patch
/simulavr/simulavr-1.0.0.tar.gz
/terminus-cyrillic/terminus-font-4.38.tar.gz
/qwt5/qwt-5.2.2.tar.bz2
