/*/pkg/
/*/src/
/*/*.pkg.tar.xz
/*/*.src.tar.gz

/elasticsearch/elasticsearch-0.17.9.tar.gz
/libkml/libkml-1.2.0.tar.gz
/pidgin-zag/pidgin-2.10.0.tar.bz2
/pidgin-zag/pidgin-ticket-10593.patch
/pyqwt/PyQwt-5.2.0.tar.gz
/pyqwt/qplt.py-r1.21.patch
/simulavr/simulavr-0.1.2.7.tar.gz
/terminus-cyrillic/terminus-font-4.36.tar.gz
/qwt5/qwt-5.2.2.tar.bz2
